<p id="notice"><%= notice %></p>

<p>
  <strong>Projectname:</strong>
  <%= @reservation.projectName %>
</p>

<p>
  <strong>Username:</strong>
  <%= @reservation.userName %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @reservation.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @reservation.endDate %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
